.form{

    &__group:not(:last-child) {
        margin-bottom: 3rem;

    }


    &__input {
        font-size:1.5rem;
        font-family: inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($color-white, .5);
        border: none;
        border-bottom: 3px solid transparent;
        width: 90%;
        display: block;

        transition: all .3s;

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border-bottom: 3px solid $color-primary;
        }

        &:focus:invalid {
            border-bottom: 3px solid $color-secondary-dark;
        }

        &::-webkit-input-placeholder {
            color: $color-grey-dark-2;
        }
    
    }

    // Floating Label
    // https://www.samanthaming.com/tidbits/88-css-placeholder-shown/
    // label 在 input 下方
    // &__label {
    //     font-size: 1.2rem;
    //     font-weight: 700;
    //     margin-left: 2rem;
    //     margin-top: .7rem;
    //     display: block;
    // }
    // 有顯示 placeholder 時要作用的 css
    // &__input:placeholder-shown + &__label {
    //     opacity: 0;
    //     visibility: hidden;
    //     transform: translateY(-4rem);
    // }

    // label 在 input 上方
    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 1rem;
        margin-top: .7rem;
        display: none;
    }
    &__input:not(:placeholder-shown) + &__label {
        display: block;
        transform: translateY(-8rem);
    }


    &__radio-group {
        width: 49%;
        display: inline-block
    }

    &__radio-input {
        display: none;
    }

    &__radio-label {
        font-size: $default-font-size;
        cursor: pointer;
        position: relative;

        padding-left: 40px;
    }
    
    // 客製化 radio button
    &__radio-button {
        height: 3rem;
        width: 3rem;
        border: 5px solid $color-primary;
        border-radius: 50%;

        display: inline-block;
        position: absolute;
        left: 0;

        &::after {
            content: '';
            display: block;
            height: 1rem;
            width: 1rem;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $color-primary;

            opacity: 0;
            transition: opacity .2s;
        }
    }

    &__radio-input:checked ~ &__radio-label &__radio-button::after  {
        opacity: 1;
    }
    






}