.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    background-color: rgba($color-white, .6);
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    font-size: $default-font-size;
    transform: skewX(-12deg);

    // 此時只有文字會歸正，因為一個 element 只能接受一個 transform，所以要分開寫
    // & > * {
    //     transform: skewX(12deg);
    // }

    &__shape {
        width: 15rem;
        height: 15rem;
        // background-color:orangered;
        float: left;
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem) skewX(12deg); // 分開寫 skewX(12deg)

        position: relative;
        
        &-right {
            float: right;
            transform: translateX(2rem) skewX(12deg); // 分開寫 skewX(12deg)
        }
        
    }

    

    &__img {
        height: 100%;
        transform: translateX(-4rem) scale(1.4);
        // backface-visibility: hidden;
        transition: all .5s;
    }

    &__text {
        transform: skewX(12deg); // 分開寫 skewX(12deg)

    }

    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        color: $color-white;
        text-transform: uppercase;
        text-align: center;

        opacity: 1;
        transition: all .5s;
        // backface-visibility: hidden; // 指定当元素背面朝向观察者时是否可见。

        &-2 {
            transform: translate(100%, -50%);
        }
    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }


    &:hover &__img {
        transform: translateX(-4rem) scale(1);
        filter: blur(3px) brightness(80%);
    }
    

    &:hover &__caption-2 {
        opacity: 1;
        transform: translate(-50%, -50%);
    }


}